<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Students</servlet-name>
        <servlet-class>Students</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLogin</servlet-name>
        <servlet-class>SLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faculty</servlet-name>
        <servlet-class>Faculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FLogin</servlet-name>
        <servlet-class>FLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegister</servlet-name>
        <servlet-class>SRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegisters</servlet-name>
        <servlet-class>SRegisters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forget_Password</servlet-name>
        <servlet-class>Forget_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>password</servlet-name>
        <servlet-class>password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rest_Password</servlet-name>
        <servlet-class>Rest_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>placement</servlet-name>
        <servlet-class>placement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ALogin</servlet-name>
        <servlet-class>ALogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FRegisters</servlet-name>
        <servlet-class>FRegisters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SUpdate_Profile</servlet-name>
        <servlet-class>SUpdate_Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLV</servlet-name>
        <servlet-class>SLV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudUpdate</servlet-name>
        <servlet-class>StudUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilePg</servlet-name>
        <servlet-class>ProfilePg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inputQues</servlet-name>
        <servlet-class>inputQues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentListView</servlet-name>
        <servlet-class>StudentListView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyView</servlet-name>
        <servlet-class>FacultyView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QBView</servlet-name>
        <servlet-class>QBView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Students</servlet-name>
        <url-pattern>/Students</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLogin</servlet-name>
        <url-pattern>/SLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faculty</servlet-name>
        <url-pattern>/Faculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FLogin</servlet-name>
        <url-pattern>/FLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegister</servlet-name>
        <url-pattern>/SRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegisters</servlet-name>
        <url-pattern>/SRegisters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forget_Password</servlet-name>
        <url-pattern>/Forget_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>password</servlet-name>
        <url-pattern>/password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rest_Password</servlet-name>
        <url-pattern>/Rest_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>placement</servlet-name>
        <url-pattern>/placement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ALogin</servlet-name>
        <url-pattern>/ALogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FRegisters</servlet-name>
        <url-pattern>/FRegisters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SUpdate_Profile</servlet-name>
        <url-pattern>/SUpdate_Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLV</servlet-name>
        <url-pattern>/SLV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudUpdate</servlet-name>
        <url-pattern>/StudUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilePg</servlet-name>
        <url-pattern>/ProfilePg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inputQues</servlet-name>
        <url-pattern>/inputQues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentListView</servlet-name>
        <url-pattern>/StudentListView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyView</servlet-name>
        <url-pattern>/FacultyView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QBView</servlet-name>
        <url-pattern>/QBView</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
